.nav {
  display: block;
  background-color: white;
  max-height: 122px;
  padding: 1px;
  margin: 0px auto;
  overflow: auto;
  width: 100%;
}

.box {
display: inline-block;
margin: 0;
text-align: center;
padding: 0px;
}

.utilities {
color: white;
height: 37px;
width: 95px;
background-color: #A64C38;
position: relative;
bottom: 5px;
left: 28%;
border-radius: 4px;
}

.utilities p {
  font-size: 13px;
}

.utilities2 {
color: white;
height: 37px;
width: 95px;
background-color: #A64C38;
position: relative;
bottom: 5px;
left: 11%;
border-radius: 4px;
}

.utilities2 p {
  font-size: 13px;
}

.searchBar {
position: relative;
left: 17%;
bottom: 9px;
}

.searchBar input {
  border-color: black;
   height: 20px;
   width: 300px;
   padding: 7px;
}

.hamburger {
color: white;
background-color: #386873;
height: 120px;
width: 130px;
float: right;
margin: 0px;
}


.Title {
display: block;
color: white;
background-color: #74959D;
height: 165px;
width: 100%;
overflow: auto;
margin: 1px;
padding: 10px;
}

.Title h1 {
font-size: 45px;
display: inline-block;
position: relative;
top: 20px;
left: 30px;
}

.Title img {
display: inline-block;
position: relative;
top: 25px;
left: 40px;
}

.tabBar {
display: block;
color: white;
background-color: #386873;
height: 85px;
width: 100%;
overflow: auto;
margin: 1px;
padding: 10px;
}

.tabLink {
font-size: 20px;
display: inline-block;
position: relative;
left: 80px;
top: 8px;
}

.tabLink2 {
font-size: 20px;
display: inline-block;
position: relative;
left: 350px;
top: 8px;
}

.tabLink3 {
font-size: 20px;
display: inline-block;
position: relative;
left: 650px;
top: 8px;
}

.heroImage {
  display: block;
  color: white;
  height: 400px;
  width: 100%;
  margin: 0px;
  padding: 1px;
}

.image {
  width: 100%;
  height:400px;
  background-image: url("../Images/heroimage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  display: inline-block;
  position: relative;
  right: -13px;
  top: -400px;
  width: 50%;
  height: 400px;
  background-image: url("../Images/overlay.png");
  opacity:.3;
}

.heroH2 {
  font-size: 30px;
  line-height: 1.5;
  display: inline-block;
  position: relative;
  left: 55%;
  top: -600px;
  z-index: 1;
}

.heroCTA {
  font-size: 20px;
  display: inline-block;
  position: relative;
  left: 45%;
  top: -500px;
  z-index: 1;
}

.footerAbout {
  display: block;
  color: white;
  background-color: #386873;
  height: 5%;
  width: 100%;
  overflow: auto;
  margin: 1px;
  padding: 0px;
}

.Resources {
  display:inline-block;
  font-size: 16px;
  position: relative;
  left: 60px;
  top: 15px;
}

.rowLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.rowLinks2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  font-size: 13px;
  display: inline-block;
  position: relative;
  left: 30px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}

.socialMedia
{
  font-size: 16px;
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 140%;
}

.seal {
  display: inline-block;
  position: relative;
  bottom: 140px;
  left: 900px;
}

.fa {
  display: inline-block;
  position: relative;
  top: 10%;
  padding: 5px;
  font-size: 30px;
  width: 15px;
  text-decoration: none;
  border-radius: 20%;
}

.fa-facebook {
  background: white;
  color: #386873;
}

/* Twitter */
.fa-twitter {
  background: white;
  color: #386873;
}

.fa-instagram {
  background: white;
  color: #386873;
}

.fa-tumblr {
  background: white;
  color: #386873;
}

.fa-youtube {
  background: white;
  color: #386873;
}

.fa-flickr {
  background: white;
  color: #386873;
}



